.change-color {
  display: inline;
  animation: color-change 3s ease-in-out;
  animation-direction: alternate;
  color: red;
}

.item-container {
  max-width: 500px;
  height: 300px;
  width: 100%;
  background-color: rgba(155, 154, 154, 0.5);

  position: relative;
  background: linear-gradient(
    to bottom,
    rgba(245, 246, 252, 0.52),
    rgba(117, 19, 93, 0.73)
  );
  margin: auto;
}

.product-display {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

/* https://webdevetc.com/blog/how-to-add-a-gradient-overlay-to-a-background-image-using-just-css-and-html/ */
.img-redwood {
  background: url("../../asset/img/redwood.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}
.img-steelbar {
  background: url("../../asset/img/deformed-bar.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}
.img-ironsheet {
  background: url("../../asset/img/ironsheets.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}
.img-plywood {
  background: url("../../asset/img/plywood.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}
.img-cement {
  background: url("../../asset/img/Raysut-Cement.png") center center no-repeat;
  background-size: cover;
  position: relative;
}
.img-tiles {
  background: url("../../asset/img/tiles.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}

.item-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(95, 95, 95, 0.2);
}
.img-info-box {
  background: linear-gradient(#7484e085, #fd3f7eba);
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  opacity: 1;
}
.img-caption {
  position: absolute;
  bottom: 10%;
  padding: 20px;
  font-weight: bolder;
}

#products {
  margin-top: 10rem;
}

.banner-diagonal {
  background: url("../../asset/img/banner.jpg") center center no-repeat;
  background-size: cover;
  height: 400px;
  max-height: 500px;
  transform: skewY(-9deg);
}
.banner-content {
  margin: 0 2rem;
  transform: skewY(9deg);
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: white;
}
.banner-content img {
  max-width: 500px;
  width: 100%;
}
.banner-content h2 {
  margin-top: 8rem;
}
.paint-wellcoat {
  background: url("../../asset/img/wellcoat.png") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 30rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#located .container {
  padding: 30px;
}

.section-header {
  font-size: 3rem;
  font-weight: 500;
  padding: 10px;
  text-align: center;
}
.section-content {
  display: grid;
  grid-template-columns: minmax(20rem, 1fr);
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.section-content .card {
  max-height: 18rem;
}
/* Animation key frames */
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes color-change {
  0% {
    color: rgb(102, 85, 255);
  }
  50% {
    color: rgb(255, 229, 85);
  }
  100% {
    color: red;
  }
}
@media only screen and (max-width: 500px) {
  .banner-content img {
    max-width: 300px;
  }
  .banner-content {
    grid-template-columns: auto;
  }
  .banner-content h2 {
    margin-top: 0;
    font-size: 1.2em;
  }
  .img-info-box {
    opacity: 1;
  }
}
@media only screen and (min-width: 800px) {
  .product-display {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .item-container {
    width: 100%;
    max-width: 250px;
    height: 450px;
  }
  .img-info-box {
    transition: all ease-in-out.3s;
    opacity: 0;
  }
  .item-container:hover > .img-info-box {
    opacity: 1;
    animation: fadein ease-in-out 0.5s;
  }
  .section-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
