:root{
  --main-red-color: rgba(255, 25, 25, 0.815);
  --light-blue:rgb(104, 207, 225)
}
.navbar-light .navbar-nav .nav-link{color:#fff;}
ul{list-style-type: none;}
.bg-light-blue{
  background-color:var(--light-blue) !important;
}
.primary-text{
  color:var(--light-blue);
}

.cover{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
}


  .carousel-inner .carousel-item{
    height: 100vh;
  }
  .carousel-inner .carousel-item::before{
    content: "";
    position:absolute;
    height: inherit;
    width: 100%;
    background:rgba(99, 99, 99, 0.6);
  }
  .carousel-text{
    position:absolute;
    right:60%;
    bottom:20%;
    padding-left:1.25rem;
    padding-right:1.25rem;
    background-color:rgba(49, 62, 70, 0.4);
  }
   
 

.factory-banner{
    background-image: url("../../asset/img/factory-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height:500px;


}
.factory-banner::before{
  content: "";
  position:absolute;
  height: inherit;
  width: 100%;
  background:rgba(99, 99, 99, 0.6);
}
.section-text{
  z-index:10;
}

.text-color-red{
  color:var(--main-red-color) !important;
}


.img-caption{
  position: absolute;
  top:0%;
  right:8%;
  height:auto;
  width:200px;
  background: rgba(99, 99, 99, 0.6);

}

.navbar-light .navbar-nav .nav-link:hover{
  color: #FFF;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color:#fff;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link{
  color:rgb(0,0,0,.4);
}


