:root {
  --main-red-color: rgb(230, 46, 77);
}
.primary-text {
  color: var(--main-red-color);
}

body {
  font-family: "Raleway", sans-serif;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.btn-outline-primary {
  color: #fff;
  border-color: #fff;
}
.btn-outline-danger {
  color: #fff;
  border-color: #fff;
}
.bg-primary {
  background-color: var(--main-red-color) !important;
  opacity: 0.6;
}

@media (min-width: 768px) {
  .h-md-100 {
    height: 100vh;
  }
}
.btn-round {
  border-radius: 30px;
}
.bg-indigo {
  background: indigo;
}
.text-cyan {
  color: #35bdff;
}
.split-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sub-content {
  margin-top: 100px;
}

.bg-building {
  background: url("../img/ileys-tower.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.bg-building::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(196, 85, 85, 0.6);
}
.bg-soap {
  background: url("../img/Factory.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.bg-soap::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(59, 75, 167, 0.6);
}
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 3px solid transparent;
  border-top-color: #35bdff;
  border-radius: 50%;

  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.center-image {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -70px;
  margin-top: -26px;
  display: block;
  -webkit-animation: fadeout 3s ease-in-out infinite;
  animation: fadeout 3s ease-in-out infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff3535;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fcff62;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.transparent {
  background-color: transparent !important;
}
.bg-light {
  background-color: var(--main-red-color) !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
#enterprise-nav .navbar-nav .nav-link:hover {
  color: var(--main-red-color) !important;
}
#enterprise-nav .navbar-nav .active {
  color: black !important;
}
.bg-light-blue {
  background-color: rgb(67, 133, 231) !important;
}
.red-text .nav-link {
  font-weight: bold;
}
.red-text {
  color: var(--main-red-color);
}

.header-bg {
  background: url("../img/container-image.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
}
.header-bg::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(99, 99, 99, 0.6);
}
.arrow {
  position: absolute;
  bottom: 9%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  -webkit-transform: rotate(90deg);
  -webkit-animation: bounce 0.5s ease-in-out infinite;
  animation: bounce 0.5s ease-in-out infinite;
  -o-animation: bounce 0.5s ease-in-out infinite;
  -moz-animation: bounce 0.5s ease-in-out infinite;
}
.bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

.fadeout {
  -webkit-animation: fadeout 2s ease;
  -moz-animation: fadeout 2s ease;
  -o-animation: fadeout 2s ease;
  -ms-animation: fadeout 2s ease;
  animation: fadeout 2s ease;
}
.fadein {
  visibility: visible;
  -webkit-animation: fadein 2s ease;
  -moz-animation: fadein 2s ease;
  -o-animation: fadein 2s ease;
  -ms-animation: fadein 2s ease;
  animation: fadein 2s ease;
}
.hide {
  display: none;
}
.show {
  visibility: visible;
}

html.sr .load-hidden {
  visibility: hidden;
}
footer {
  position: relative;
  border: 3px solid transparent;
}
footer > .bg-dark {
  border-top-color: rgb(253, 182, 76);
}
.social-icon {
  color: inherit;
}
.social-icon:hover .fa-facebook {
  color: #3b5998;
}
.social-icon:hover .fa-twitter {
  color: #1da1f2;
}
.social-icon:hover .fa-linkedin-in {
  color: #0077b5;
}
.list-group > .list-group-item {
  color: inherit;
  background-color: inherit;
}
.item-container {
  width: 250px;
  height: 450px;
  background-color: rgba(155, 154, 154, 0.5);
  transition: transform 0.2s;
  position: relative;
}
.img-redwood {
  background: url("../img/redwood.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}
.img-steelbar {
  background: url("../img/deformed-bar.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}
.img-ironsheet {
  background: url("../img/ironsheets.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}
.img-plywood {
  background: url("../img/plywood.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}
.img-cement {
  background: url("../img/Raysut-Cement.png") center center no-repeat;
  background-size: cover;
  position: relative;
}
.item-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(95, 95, 95, 0.2);
}
.img-info {
  display: none;
  position: absolute;
  top: 50%;
  width: 100%;
  color: #fff;
}

.item-container:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.6);
  animation: fadein 0.4s ease;
}
.item-container:hover {
  transform: scale(1.1);
  z-index: 100;
}
.item-display {
  background-color: #cccc;
}
.item-container:hover > .img-info {
  display: block;
  animation: fadein ease-in 0.2s;
  z-index: 100;
}
.bg-red {
  background-color: var(--main-red-color) !important;
}

.about-header {
  background: url("../img/ileys-tower.jpg") no-repeat 50% 10%;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 300px;
  width: 100%;
}

.vertical-line {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 500px;
  margin: -250px -300px;
  border: 1px solid transparent;
  border-right-color: #35bdff;
}

blockquote {
  font: 14px/22px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

/* Animation key frames */
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: translate(-50%, 5px) rotate(90deg);
  }
  100% {
    transform: translate(-50%, 10px) rotate(90deg);
  }
}

@keyframes bounce {
  0% {
    transform: translate(-50%, 5px) rotate(90deg);
  }
  100% {
    transform: translate(-50%, 10px) rotate(90deg);
  }
}

/* Animation Frames */

/*media queries*/

@media only screen and (max-width: 500px) {
  .item-container {
    margin: auto;
  }
}
