<<<<<<< HEAD
.change-color {
  display: inline;
  animation: color-change 5s ease-in-out;
  color: red;
}

@keyframes color-change {
  0% {
    color: rgb(102, 85, 255);
  }
  50% {
    color: rgb(255, 229, 85);
  }
  100% {
    color: red;
  }
}
=======
.change-color {
  display: inline;
  animation: color-change 5s ease-in-out;
  color: red;
}

@keyframes color-change {
  0% {
    color: rgb(102, 85, 255);
  }
  50% {
    color: rgb(255, 229, 85);
  }
  100% {
    color: red;
  }
}
>>>>>>> b24896d267b56bc2a67a4ddf58e918e1e0aeb1ee
